#container{
    background-color: aqua;
}
.class1{
    background-color: yellow;
}
.class2{
    background-color:purple;
}
.class3{
    background-color: orangered;
}
.highlight{
    color: white;
}
.newClass{
    background-color: chartreuse;
}